html,
body,
* {
  font-size: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}

.header {
  position: relative; /* Ensure positioning for the overlay */
  background-image: url("https://cdn11.bigcommerce.com/s-23s5gfmhr7/product_images/uploaded_images/resized-jellycat-diner-new-york-experience-thumbnail.jpg");
  background-position: center;
  background-size: cover; 
  color: white;
  padding: 5%;
  z-index: 1;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 100%; 
}

.header::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 146, 204, 0.65);
  z-index: 0;
}

.header-items {
  padding: 5%;
  border-radius: 50%;
  position: relative;
  z-index: 2; 
}

#logo {
  height: 100px;
  width: 100px;
  background-color: rgb(255, 60, 106);
  border-radius: 30%;
  padding: 10px;
  object-fit: cover;
  box-shadow: 2px 2px black;
  margin: 10px;
  position: relative; 
  z-index: 2; 
}

h1 {
  font-size: 85px; 
  font-family: "Frank Ruhl Libre", serif;
  text-shadow: 2px 2px 5px black;
  margin: 5px;
  position: relative; 
  z-index: 2; 
}

h2 {
  font-size: 33px;
  text-shadow: 2px 2px 5px black;
  font-family: "Nunito", sans-serif;
  position: relative;
  z-index: 2; 
}

h3 {
  font-size: 20px;
  margin-top: 20px;
  padding: 5px;
  position: relative; 
  z-index: 2; 
}

p {
  font-size: 20px;
  padding: 5px;
  position: relative; 
  z-index: 2;
}

.form {
  font-size: 20px;
  padding: 10px;
  margin: 20px;
  position: relative;
  z-index: 2;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  width: 30vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 10px;
  padding: 2%;
  align-items: center;
  position: relative;
  transition: transform 0.3s ease;
  z-index: 2; 
  background-color: antiquewhite;
  box-shadow: 2px 2px 2px;

}

.delete-button {
  display: none;
  position: absolute;
  top: 0%;
  right: 0%;
  height: 10%;
  width: 10%;
  background-color: red;
  color: white;
  border: none;
  padding: 5px;
  cursor: pointer;
  z-index: 3; /* Added */
}

.card:hover .delete-button {
  display: block;
}

.jellycat {
  width: 100%;
  height: 20vw;
  margin: auto;
  display: block;
  object-fit: cover;
}
