@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playwrite+CA:wght@100..400&family=Playwrite+SK:wght@100..400&display=swap');

html,
body,
* {
  font-size: 10px;
  padding: 0;
  margin: 0;
  text-align: center;
  box-sizing: border-box;
}


.header {
  position: relative; /* Ensure positioning for the overlay */
  background-image: url("https://cdn11.bigcommerce.com/s-23s5gfmhr7/product_images/uploaded_images/resized-jellycat-diner-new-york-experience-thumbnail.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: repeat;
  color: white;
  padding: 5%;
  z-index: 1;
  display: flex; 
  flex-direction: column;
  align-items: center; 
  justify-content: center;
  width: 100%; 
  overflow: hidden;
}

.header::before {
  content: ""; 
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 146, 204, 0.65);
  z-index: 0;
}

.header-items {
  border-radius: 50%;
  position: relative;
  z-index: 2; 
}

#logo {
  height: 10vw;
  width: 10vw;
  background-color: rgb(255, 60, 106);
  border-radius: 30%;
  padding: 3.2%;
  object-fit: cover;
  box-shadow: 2px 2px black;
  position: relative; 
  z-index: 2; 
}


h1 {
  font-size: 95px; 
  font-family: "Playwrite CA", serif;
  text-shadow: 2px 2px 4px rgb(255, 155, 33);
  position: relative; 
  z-index: 2; 
  margin-bottom: 10px;
}

h2 {
  font-size: 45px;
  text-shadow: 2px 2px 7px rgb(29, 29, 29);
  font-family: "Nunito", sans-serif;
  position: relative;
  z-index: 2; 
  color: rgba(255, 155, 33);
}

h3 {
  font-family: "Playwrite CA", serif;
  font-size: 35px;
  margin: 10px;
  position: relative; 
  z-index: 2; 
  color: rgb(255, 60, 106);
  text-align: center;
}

p {
  font-size: 24px;
  padding: 5px;
  margin: 10px;
  position: relative; 
  z-index: 2;
  font-family: "Nunito", sans-serif;
  text-align: center;
}

.input-box {
  height: 42px;
  width: 60vw;
  margin-bottom: 15px;
  font-size: 20px;
  background-color: rgb(255, 239, 223);
}


.input-box::placeholder {
  color: gray; /* Change the placeholder text color */
  font-style: italic; /* Optional italic style */
  font-size: 20px; /* Optional size adjustment */
}

#button {
  height: 60px;
  width: 120px;
  padding: 5px;
  font-size: 21px;
  font-family: "Nunito";
  background-color: rgb(255, 60, 106);
  transition: background-color 0.1s ease;
  border-radius: 10%;
  margin: 10px;
}

.form {
  font-size: 27px;
  padding: 10px;
  margin: 20px;
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; 
  align-items: flex-start;
  gap: 20px;
}

.card {
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  margin: 5px; /* Reduced margin */
  padding: 20px; /* Adjusted padding */
  position: relative;
  transition: transform 0.3s ease;
  border-radius: 10%;
  border: 3px solid rgba(0, 146, 204);
  z-index: 2; 
  background-color: rgb(255, 239, 223);
  box-shadow: 0px 0px 6px rgba(0, 146, 204, 0.65);
}


@media screen and (max-width: 1050px) {
  .card {
    width: 30%;
  }
}

@media screen and (max-width: 900px) {
  .card {
    width: 45%;
  }
}

@media screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
  .container {
    flex-direction: column;
    align-items: center;
  }
}

.delete-button {
  position: absolute;
  width: 20%;
  top: 0%;
  right: 0%;
  border: none;
  cursor: pointer;
  z-index: 3; /* Added */
}

.jellycat {
  width: 100%;
  margin: auto;
  margin: 20px;
  padding: 1%;
  display: block;
  object-fit: contain;
  border-radius: 10%;
  box-shadow: 0px 0px 5px rgba(142, 12, 43, 0.8);
}
